# Gradle
.gradle/
**/build/
!**/src/**/build/
.kotlin/

# Android
local.properties
*.apk
*.aab
*.ap_
*.dex
captures/
.externalNativeBuild/
.cxx/

# IDE
.idea/
*.iml
.vscode/
.DS_Store

# Node / Vite
node_modules/
dist/
dist-ssr/
*.local
npm-debug.log*
tv/app/src/screenshotTestDebug/reference/
